/* middle-part hero banner for small screen start hear  */
@media screen and (max-width:600px) {
    .heroban-container {
        width: 100%;
        max-width: 100% !important;
        padding-left: 40px;
        background-image: linear-gradient(to right bottom, rgba(230, 230, 250, 0.692), rgba(0, 0, 0, 0.347)), url(../pictures/backgoundpic-croud-home.jpg);
        background-size: cover;
        background-position: center;
        height: 30vh;
        background-size: cover;

    }

    .heroban-container .banner-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .first-sm-heading {
        font-size: 8px;
        letter-spacing: 1px;
        animation-name: movedown;
        animation-duration: 3s;
        animation-iteration-count: 1;
    }

    .middle-main-heading {
        letter-spacing: 2px;
        font-size: 13px;
        font-weight: bold;
        animation-name: moveright;
        animation-duration: 3s;
        animation-iteration-count: 1;
    }

    .logo-middle-part {
        color: black !important;
        font-size: 8px;
    }

    .logopart-banner {
        animation-name: moveup;
        animation-duration: 3s;
        animation-iteration-count: 1;

    }
}

@keyframes moveright {
    0% {
        opacity: 0;
        transform: translate(-200px);
    }

    80% {
        transform: translate(-50px);
    }

    100% {
        translate: (-10px);
    }
}

@keyframes movedown {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    80% {
        transform: translate(-50px);
    }

    100% {
        translate: (0px);
    }
}

@keyframes moveup {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    80% {
        transform: translate(-50px);
    }

    100% {
        translate: (0px);
    }
}


/* for medium screen middle part start here  */
@media screen and (min-width:601px) and (max-width:849px) {
    .heroban-container {
        width: 100%;
        max-width: 100% !important;
        background-image: linear-gradient(to right bottom, rgba(230, 230, 250, 0.692), rgba(0, 0, 0, 0.347)), url(../pictures/backgoundpic-croud-home.jpg);
        background-size: cover;
        background-position: center;
        background-size: cover;
        height: 50vh;
        padding-left: 65px;
        padding-top: 50px;

    }

    .heroban-container .banner-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .banner-caption {
        animation-name: movedown;
        animation-duration: 3s;
        animation-iteration-count: 1;
    }

    .middle-main-heading {
        letter-spacing: 3px;
        font-size: 25px;
        font-weight: bold;
        animation-name: moveright;
        animation-duration: 3s;
        animation-iteration-count: 1;
    }

    .logo-middle-part {
        color: black !important;
        font-size: 10px;
    }

    .logopart-banner {
        animation-name: moveup;
        animation-duration: 3s;
        animation-iteration-count: 1;

    }
}

@keyframes moveright {
    0% {
        opacity: 0;
        transform: translate(-200px);
    }

    80% {
        transform: translate(-50px);
    }

    100% {
        translate: (-10px);
    }
}

@keyframes movedown {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    80% {
        transform: translate(-50px);
    }

    100% {
        translate: (0px);
    }
}

@keyframes moveup {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    80% {
        transform: translate(-50px);
    }

    100% {
        translate: (0px);
    }
}



/* for big screen start here middle part  */
@media screen and (min-width:850px) {
    .heroban-container {
        width: 100%;
        max-width: 100% !important;
        background-image: linear-gradient(to right bottom, rgba(230, 230, 250, 0.692), rgba(0, 0, 0, 0.347)), url(../pictures/backgoundpic-croud-home.jpg);
        background-size: cover;
        background-position: center;
        padding-left: 200px;
        height: 85vh;
        box-sizing: border-box !important;

    }

    .heroban-container .banner-main {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .banner-caption {}

    .banner-title {}

    .logopart-banner {
        color: black !important;
        font-size: 20px;
        animation-name: moveup;
        animation-duration: 3s;
        animation-iteration-count: 1;
    }

    .first-sm-heading {
        letter-spacing: 1px;
        font-size: 20px;
        animation-name: movedown;
        animation-duration: 3s;
        animation-iteration-count: 1;


    }

    .middle-main-heading {
        letter-spacing: 5px;
        font-size: 40px;
        font-weight: bold;
        padding-bottom: 10px;
        animation-name: moveright;
        animation-duration: 3s;
        animation-iteration-count: 1;
    }

    .logo-middle-part {
        color: black;
    }
}

@keyframes moveright {
    0% {
        opacity: 0;
        transform: translate(-200px);
    }

    80% {
        transform: translate(-50px);
    }

    100% {
        translate: (-10px);
    }
}

@keyframes movedown {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    80% {
        transform: translate(-50px);
    }

    100% {
        translate: (0px);
    }
}

@keyframes moveup {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    80% {
        transform: translate(-50px);
    }

    100% {
        translate: (0px);
    }
}